
.icon-camera-alt:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-down-dir:before { content: '\e802'; } /* '' */
.icon-thermometer:before { content: '\f2c7'; } /* '' */